@import "tailwindcss";

:root {
  --color-primary: #db2777;
  --color-track: #ef4444;
}

html, body {
  background-color: #fff5f7;
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
  height: 100%;
}

.tab-scroll::-webkit-scrollbar {
  display: none;
}
