@import "tailwindcss";

:root {
  --color-primary: #ec4899;
  --color-track: #ef4444;
}

html, body {
  background: linear-gradient(to right, #f472b6, #ec4899, #db2777);
  font-family: 'Inter', 'Noto Sans JP', sans-serif;
  height: 100%;
}

.tab-scroll::-webkit-scrollbar {
  display: none;
}
